* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: #fefefe;
  font-family: Inter;
}
nav {
  margin-top: 16px;
  width: 100%;
  display: flex;
}
nav ul {
  
}
li {
  list-style: none;
}
li a {
  text-decoration: none;
  font-family: Inter;
  font-size: 1rem;
  color: #000000;
}